*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
    background-color: #2c66d5;
}

.container{
    display:flex;
    margin: 0 auto;
    justify-content:center;
    padding-top: 100px
}

.panel{
    width:60%;
    background-color: #ffffff;

    border-radius:8px;
    padding:32px;
}

.title{
    margin:0 0 22px 0;
    font-size:26px;
    font-weight:600;
}


.content{
    display:grid;
    grid-template-columns: 1fr 200px;
    gap:28px;
    align-items:start;
}

/*----LEFT COLUMN----*/

.left .label{
    display:block;
    font-size:14px;
    margin-bottom:6px;
}

.input-row{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:18px;
}

.input{
    flex:1;
    height:36px;
    padding:8px 10px;
    font-size:15px;
    border-radius:6px;
    outline:none;
    background:#fff;
}

.list{
    width:100%;
    height:360px;
    padding:12px;
    font-size:15px;
    line-height:1.35;
    resize:none;
    border-radius:6px;
    background:#fff;
}

/*----RIGHT COLUMN----*/

.right{
    display:flex;
    flex-direction:column;
    gap:16px;
    align-items:stretch;
    justify-content:flex-start;
    margin-top: 20px;
}

.btn{
    max-width:140px;
    border:1px solid #aaa;
    padding:8px 12px;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
    transition:all .12s ease;
}

.btn:hover{
    transform:translateY(-1px);
    box-shadow:0 4px 10px rgba(0,0,0,0.06);
}

.add{
    max-width:90px;
    padding:8px 12px;
    margin-bottom: 30px;
}


.right .right-btn{
    width:100%;
    text-align:center;
    background:#f1f1f1;
    border:1px solid #bdbdbd;
}


.delete{
    margin-top: 20px;
    max-width:90px;
    border-color:#d4a6a6;
}


@media (max-width:740px){
    .content{
        grid-template-columns: 1fr;
    }
    .right{
        flex-direction:row;
        gap:10px;
        margin-top:8px;
    }
    .right .right-btn{
        flex:1;
    }
    .list{ height:300px; }

    .btn{font-size: 10px}
}
